#!/usr/lib/systemd/system/podman-registry.service
[Unit]
Description= Start Podman Registry Local Container Image Registry
After=network-online.target

[Service]
Type=simple
User=root
ExecStartPre=/bin/podman stop registry
ExecStart=/bin/podman start registry
ExecStop=/bin/podman stop registry
RemainAfterExit=true
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target